.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: rgb(143, 143, 143);
}

.array-container {
  width: 100%;
  position: absolute;
  top: 250px;
  background-color: rgb(143, 143, 143);
  height: 400px;
}

.array-bar {
  min-width: 4px;
  display: inline-block;
  margin: 0 1px;
}

.btn-container {
  background-color: rgb(80, 80, 80);
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.resetArrayBtn {
  /* margin-right: 50px; */
}

button {
  height: 75px;
  width: 150px;
  border: 3px solid turquoise;
  font-family: 'Do Hyeon';
  font-size: 1.2rem;
}

button:hover {
  cursor: pointer;
  background-color: rgba(209, 54, 209, 0.603);
  color: gold;
}

.fill {
  width: 150px;
  height: 75px;
}
