.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: rgb(143, 143, 143);
}

.array-container {
  width: 100%;
  position: absolute;
  top: 250px;
  background-color: rgb(143, 143, 143);
  height: max-content;
}

@media (max-width: 959px) {
  .array-container {
    top: 275px;
  }
  @media (min-height: 774px) {
    .array-container {
      top: 350px;
    }
  }
}

.array-bar {
  min-width: 4px;
  display: inline-block;
  margin: 0 1px;
}

nav {
  background-color: rgb(80, 80, 80);
}

.btn-container {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1300px;
  margin: 0 auto;
}

.resetArrayBtn {
  /* margin-right: 50px; */
}

.sort {
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  height: 85px;
  width: 150px;
  border: 3px solid turquoise;
  font-family: 'Do Hyeon';
  font-size: 1.2rem;
  padding: 0 5px;
}

@media (max-width: 630px) {
  .fill {
    display: none;
  }
}

@media (max-width: 449px) {
  button {
    width: 95px;
  }
}

@media (max-width: 340px) {
  .funcBtn {
    width: 75px;
  }
}

button:hover {
  cursor: pointer;
  background-color: rgba(209, 54, 209, 0.603);
  color: gold;
}

.fill {
  width: 150px;
  height: 75px;
}
